@function code-line-numbers($max: 300) {
	$line-numbers: '';

	@for $n from 1 through $max {
		@if $n == 1 {
			$line-numbers: '#{$n}';
		} @else {
			@if $n < 10 {
				$line-numbers: '#{$line-numbers}   #{$n}';
			} @else if $n >= 10 and $n < 100 {
				$line-numbers: '#{$line-numbers}  #{$n}';
			} @else {
				$line-numbers: '#{$line-numbers} #{$n}';
			}
		}
	}

	@return $line-numbers;
}
