.moderator {
	.content {
		.linefield {
			border: 1px solid $br-info;
			border-radius: $brad-global;
			width: 100%;

			.linefield-content {
				padding: 0;
			}
		}

		.stylesheet-customize-container {
			.sheets {
				margin: 0;
			}

			#preview-table {
				table {
					width: 100%;
				}
			}
		}

		#sr-form {
			.linefield {
				.linefield-content {
					.usertext-edit {
						width: 100%;

						.md {
							max-width: 100%;
						}
					}

					[type="text"],
					textarea {
						border-color: $bg-header;
						box-shadow: none;
						width: 100%;
					}
				}
			}
		}

		.flair-settings {
			.linefield {
				border: 1px solid $br-info;
				border-radius: $brad-global;
				width: 100%;
			}
		}

		.tabmenu {
			li {
				> a {
					border: 1px solid $br-info;
					background-color: $bg-content-default;
					color: $br-footer;
				}

				&.selected {
					> a {
						border-bottom-color: $bg-content-default;
						color: $fg-link;
					}
				}
			}
		}

		.tabpane-content {
			border-radius: $brad-global;
			background-color: $bg-content-default;
			padding: 0;

			.flairlist {
				.flair-jump {
					margin: 0;
					border: none;
					background-color: transparent;
				}
			}
		}

		#noresults {
			margin: 0;
		}

		.thing {
			.usertext-body {
				.md {
					max-width: 100%;
				}
			}
		}

		.image-preview-list {
			margin: 15px 0;

			li {
				width: (percentage(6 / 12) - 1%); // .col-6 -1%
			}
		}
	}
}
