.modtools-page {
	> .content {
		margin: 0;
		padding: 10px;

		// Rules
		.subreddit-rules-page {
			padding: 0;

			&::before {
				display: none;
			}

			&,
			#subreddit-rule-add-form {
				max-width: 100%;
			}
		}
	}
}
