.search-page {
	.searchpane {
		margin: 0;
		padding: 0;

		#search {
			padding: 0;

			[type="text"] {
				padding: 3px 6px;
				max-width: percentage(11 / 12); // .col-11
			}

			.search-submit-button {
				margin-left: 6px;
				padding: 0;
				width: (percentage(1 / 12) - 1%); // .col-1 - 1%

				> .search-icon {
					background-repeat: no-repeat;
					background-position: 50%;
					padding: 13px 0;
				}
			}

			#moresearchinfo {
				max-width: 100%;
			}
		}
	}

	.search-result-group {
		padding: 0;
		max-width: 100%;

		.search-result {
			display: block;
			margin: 0 0 5px;
			border: 1px solid $br-content;
			border-radius: $brad-global;
			background-color: $bg-post-odd;
			padding: 2px 5px;
			min-height: 75px;

			.search-expando {
				.search-result-body {
					padding: 0;

					.md {
						max-width: 100%;
					}
				}
			}

			.search-expando-button {
				text-align: center;
			}

			&:nth-child(2n) {
				background-color: $bg-post-even;

				.search-expando {
					&.collapsed {
						&::before {
							background: linear-gradient(to bottom, transparent 0%, $bg-post-even 100%);
						}
					}
				}
			}
		}

		.search-result-subreddit {
			.search-subscribe-button {
				.option {
					border-color: transparent;
					background-image: none;
				}

				.add {
					background-color: $bg-subscribe;
				}

				.remove {
					background-color: $bg-unsubscribe;
				}
			}
		}
	}

	.searchfacets {
		margin: 0;
		border-radius: $brad-global;
		border-color: $br-sidebox;
		background-color: $bg-post-even;
		padding: 10px 20px;
		min-width: 100%;
		max-width: 100%;
	}
}
