.submit-page {
	.content {
		.formtabs-content {
			&,
			.roundfield {
				width: 100%;
			}

			.roundfield {
				border: 1px solid $br-info;
				border-radius: $brad-global;

				.usertext-edit {
					width: 100%;

					.md {
						max-width: 100%;
					}
				}

				[type="text"],
				[type="url"] {
					width: 100%;
				}
			}
		}

	}
}
