.loggedin > .content {
	// Comments
	.commentarea {
		.menuarea {
			margin: 0;
			border-bottom: none;
		}

		> .usertext {
			margin: 0 0 15px;
			border-top: none;
			border-bottom-width: 1px;
			border-radius: 0 0 $brad-global $brad-global;
		}
	}
}
