body > .content,
.side {
	margin: 0 0 15px;
	padding: 10px;
}

body > .content {
	// Global
	.infobar,
	.info-notice,
	.reddit-infobar {
		border-radius: $brad-global;

		a {
			text-decoration: none !important;

			&:hover {
				text-decoration: underline !important;
			}
		}
	}

	.infobar,
	.info-notice {
		width: 100%;
		text-align: center;
	}

	// Post/Comment list
	.linklisting,
	.commentarea {
		// Post/Comment
		.thing {
			display: block;
			margin: 0 0 5px;
			border: 1px solid $br-content;
			border-radius: $brad-global;
			background-color: $bg-post-odd;
			padding: 2px 5px;
		}
	}

	// Posts
	.linklisting {
		.thing {
			&.even {
				background-color: $bg-post-even;
			}

			.rank {
				margin-top: 0;
			}

			.rank,
			.midcol.likes,
			.midcol.unvoted {
				min-height: 70px;
				text-align: center;
			}
		}
	}

	// Comments
	.commentarea {
		.panestack-title,
		.menuarea,
		> .usertext {
			border-right-width: 1px;
			border-left-width: 1px;
			border-style: solid;
			border-color: $br-sidebox;
			background-color: $bg-post-even;
			padding-right: 10px;
			padding-left: 10px;
		}

		.panestack-title,
		.menuarea {
			margin: 0;
		}

		.panestack-title {
			border-top-width: 1px;
			border-radius: $brad-global $brad-global 0 0;
			padding-top: 5px;
			padding-bottom: 5px;
		}

		.menuarea {
			margin: 0 0 15px;
			border-top: none;
			border-bottom-width: 1px;
			border-radius: 0 0 $brad-global $brad-global;
			padding: 4px 8px;
		}

		.usertext {
			.usertext-edit {
				width: 100%;

				.md {
					width: 100%;
					max-width: 100%;

					&,
					textarea {
						width: 100%;
					}
				}
			}
		}

		.comment-visits-box {
			margin: 0 0 15px;
			border-radius: $brad-global;
			padding: 4px 8px;
			width: 100%;
			max-width: 100%;
			text-align: center;
		}

		&,
		.sitetable {
			margin: 5px 0 0;
			background-color: transparent;

			#noresults {
				margin: 0;
				text-align: center;
			}
		}

		.child {
			.thing {
				background-color: $bg-post-even;
			}
		}
	}

	// Info bar
	> .infobar {
		margin: 0;
	}

	// New comment
	.new-comment {
		.usertext-body {
			border: none;
			background-color: transparent;
		}
	}
}
