.nav-buttons {
	.nextprev {
		a {
			&,
			&:hover,
			&:visited {
				border: none;
				border-radius: $brad-global;
				background-color: $bg-submit-link;
				text-decoration: none;
			}

			&,
			&:visited {
				color: $fg-link-light;
			}

			&:hover {
				color: $bg-side-content;
			}
		}
	}
}
