* {
	&,
	&:before,
	&:after {
		box-sizing: border-box;
	}
}

body {
	background-color: $bg-body;
	font-family: $font-family;

	input[type="text"],
	input[type="password"],
	input[type="url"],
	textarea {
		width: 100%;
		padding: 3px;
		border: 1px solid $br-sidebox;
		border-radius: $brad-global;
	}

	textarea {
		min-width: 100%;
		max-width: 100%;
		min-height: 100px;
		max-height: 300px;
	}

	input[type="radio"],
	input[type="checkbox"] {
		vertical-align: text-bottom;
	}
}
