html {
	box-sizing: border-box;
}

* {
	&,
	&::before,
	&::after {
		box-sizing: inherit;
	}
}

body {
	background-color: $bg-body;
	font-family: $font-family;

	[type="text"],
	[type="password"],
	[type="url"],
	textarea {
		border: 1px solid $br-sidebox;
		border-radius: $brad-global;
		padding: 3px;
		width: 100%;
	}

	textarea {
		min-width: 100%;
		max-width: 100%;
		min-height: 100px;
		max-height: 300px;
	}

	[type="radio"],
	[type="checkbox"] {
		vertical-align: text-bottom;
	}
}
