/// Background colors
/// @type	color
$bg-body: #f1f1f1;
$bg-header: #2d2d2d;
$bg-header-right: #515151;
$bg-footer: #393939;
$bg-side-content: #fff;
$bg-post-odd: #fcfcfc;
$bg-post-even: #f8f8f8;
$bg-submit-link: #69c;
$bg-subscribe: #9c9;
$bg-unsubscribe: #f2777a;
$bg-content-default: #cee3f8;
$bg-tab: #777;

// Foreground colors
/// @type	color
$fg-header-title: #fafafa;
$fg-link: #0072bc;
$fg-link-light: #ededed;
$fg-footer-gold: #9a7d2e;
$fg-footer-updated: #959595;

/// Border colors
/// @type	color
$br-content: #d6d6d6;
$br-footer: #555;
$br-sidebox: #e2e2e2;
$br-info: #5f99cf;

/// Border radius
/// @type	number
$brad-global: 2px;

/// Font family
/// @type	list
$font-family: Tahoma,Verdana,Segoe,sans-serif;

/// Breakpoint
/// @type	number
$res-breakpoint: 768px;
